#splashscreen
{
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    animation: fadeOut 1s ease-out 2s forwards;
}
#vectorA
{
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}
#splashlogo
{
    z-index: 10;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}