#splashscreen
{
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    transition: opacity 1s ease;
}
.vectorA
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
.splashlogo
{
    width: 70vw;
    height: auto;
}
