:root
{
    --white : #FFFFFF;
    --electric-blue: #5252FF;
    --radio-blue:#507CDD;
    --option-black:#1F1F1F;
    --option-gray: #4D4D4D;
    --divisorline:#00000033;
}
header
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5.95vh;
    width: 100vw;
    position: fixed;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.header_backbutton
{
    margin-left: 3.6vw;
    background: none;
    border: none;
    background-image: url(../icons/back.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 6.66vw;
    height: 3vh;
    cursor: pointer;
}
.logoconteiner
{
    display: flex;
    margin-right: 4.44vw;
}
.imglogo
{
    height: 1.75vh;
    width: 8.33vw;
    object-fit: cover;
    object-position:50% 20%;
    
}
.divconteiner
{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    align-items: center;
}
.span_1
{
    margin-top: 9.195vh;
    margin-left: 5.83vw;
    align-self: flex-start;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2.5vh;
    line-height: 100%;
    letter-spacing: 0%;

}
.div_accountstatus
{
    margin-top: 4.5vh;
    display: flex;
    height: 12vh;
    width: 86.38vw;
    background-color: var(--electric-blue);
    border-radius: 2.77vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 4.72vw;

    background-image: url(/tp1/src/vector/Ellipse1.svg), url(/tp1/src/vector/Ellipse2.svg);
    background-repeat: no-repeat;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.text_accountstatus{color: var(--white);}

.span_2
{
    margin-top: 2.125vh;
    font-family: Lato;
    font-weight: 700;
    font-size: 1.5vh;
    line-height: 100%;
    letter-spacing: 0%;

}
.span_3
{
    font-family: Lato;
    font-weight: 700;
    font-size: 3.125vh;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 2.375vh;
}

.div_optionselect
{
    display: flex;
    flex-direction: column;
    width: 87.5vw;
    height: 19vh;
    background-color:var(--option-black);
    overflow: hidden;
    margin-top: 2vh;
    border-radius: 2.77vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.span_4
{
    margin-top: 1.625vh;
    margin-left: 5vw;
    margin-bottom: 1.625vh;
    color: var(--white);

    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5vh;
    line-height: 100%;
    letter-spacing: 0%;

}
.individual-option-conteiner
{
    display: flex;
    padding-left: 5vw;
    padding-right: 5.277vw;
    background-color: var(--white);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

}
.divisorlineext
{
    display: flex;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
}
.divisorlineint
{
    width: 81.38vw;
    height:1px;
    background-color: var(--divisorline);
}
.label-option
{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.5vh;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--option-gray);

}
.option
{
    appearance: none;
    width: 6.66vw;
    height: 6.66vw;
    border-radius: 50%;
    border: 0.83vw solid var(--radio-blue); /* Color del borde del círculo */
    background-color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.option:checked::after
{
    content: "";
    width:60%;
    height: 60%;
    border-radius: 50%; /*+Asegura que sea un circulo*/
    background-color: var(--radio-blue); /* Color del punto central */
}

.button_next
{
    width: 79.16vw;
    height: 6.41vh;
    margin-top: auto;
    margin-bottom: 3.83vh;

}