<!DOCTYPE html>
<html lang="es"> <!-- Idioma principal del documento, ayuda a interpretar contenido mejora la accesibilidad-->
    <head>
        <meta charset="UTF-8"> <!--Codificacion de caracteres-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Asegura que la pagina sea responsiva
        Ajusta tambien el zoom inicial-->
        <title>Wibond</title>

        <!--Hojas de estilos-->
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/splashscreen.css">

    </head>
    
    <body>
        <!-- Splash screen-->
        <div id="splashscreen" >
            <img src="../img/fA.svg" alt="" id="vectorA">
            <img src="../img/Logo.svg" alt="Wibond" id="splashlogo">
        </div>
        <!-- Inicio de Sesion-->
        <div id="loginconteiner">
            <img src="../img/Logo.svg" alt="Wibond" id="formlogo">
            <form action="" id="loginform">
                <input type="text" placeholder="Usuario" required id="logininput_user" class="logininput">
                <input type="password" placeholder="Contraseña" required id="logininput_pass" class="logininput">
                <a href="" id="logintext_fp">Olvidaste tu contraseña?</a>
                <input type="submit" value="Iniciar Sesion" id="loginbutton">
                <p id="logintext_reg">No tenés cuenta? - <a href="">Registrate</a></p>
            </form>
        </div>
    </body>
</html>