<!DOCTYPE html>
<html lang="es"> <!-- Idioma principal del documento, ayuda a interpretar contenido mejora la accesibilidad-->
    <head>
        <meta charset="UTF-8"> <!--Codificacion de caracteres-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Asegura que la pagina sea responsiva
        Ajusta tambien el zoom inicial-->
        <title>Wibond</title>

        <!--Hojas de estilos-->
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/splashscreen.css">

    </head>
    
    <body>
        <div id="splashscreen" >
            <img src="../img/fA.svg" alt="" id="vectorA">
            <img src="../img/Logo.svg" alt="Wibond" id="splashlogo">
        </div>
        <!-- Inicio de Sesion-->
        <div>
            <img src="../img/Logo.svg" alt="Wibond">
            <form action="">
                <input type="text" placeholder="Usuario" required>
                <input type="password" placeholder="Contraseña" required>
                <a href="">Olvidaste tu contraseña?</a>
                <input type="submit" value="Iniciar Sesion">
            </form>
            <p>No tenés cuenta? - <a href="">Registrate</a></p>
        </div>
    </body>
</html>