<!DOCTYPE html>
<html lang="es"> <!-- Idioma principal del documento, ayuda a interpretar contenido mejora la accesibilidad-->
    <head>
        <meta charset="UTF-8"> <!--Codificacion de caracteres-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Asegura que la pagina sea responsiva
        Ajusta tambien el zoom inicial-->
        <title>Wibond</title>

        <!--Hojas de estilos-->
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/splashscreen.css">
    </head>
    
    <body>
        <!-- Splash screen-->
        <div class="splashscreen" >
            <img src="../vector/fA.svg" alt="" class="vectorA">
            <img src="../img/Logo.svg" alt="Wibond" class="splashlogo">
        </div>
        <!-- Inicio de Sesion-->
        <div class="loginconteiner">
            <img src="../img/Logo.svg" alt="Wibond" class="formlogo">
            <form action="transfer.html" class="loginform">
                <input type="text" placeholder="Usuario" class="inputg inputblue logininput logininput_user">
                <input type="password" placeholder="Contraseña" class="inputg inputwhite logininput logininput_pass">
                <a href="" class="logintext logintext_fp">Olvidaste tu contraseña?</a>
                <input type="submit" value="Iniciar Sesión" class="buttong buttonblue loginbutton">
                <p  class="longintext logintext_reg">No tenés una cuenta? - <a href="" class="logintext logintext_reg_link">Registrate</a></p>
            </form>
        </div>
    </body>
</html>