<!DOCTYPE html>
<html lang="es"> <!-- Idioma principal del documento, ayuda a interpretar contenido mejora la accesibilidad-->
    <head>
        <meta charset="UTF-8"> <!--Codificacion de caracteres-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Asegura que la pagina sea responsiva
        Ajusta tambien el zoom inicial-->
        <title>Wibond</title>

        <!--Hojas de estilos-->
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/transfer.css">
    </head>
    <body>
        <header>
            <button class="header_backbutton" onclick="window.location.href='index.html'"></button>
            <div class="logoconteiner">
                <img src="../img/Logo.svg" alt="logo" class="imglogo">
                <img src="../img/W I B O N D.svg" alt="">
            </div>
        </header>
        <div class="divconteiner">
            <span class="span_1">Transferir dinero</span>
            <div class="div_accountstatus">
                <span class="text_accountstatus span_2">Dinero disponible</span>
                <span class="text_accountstatus span_3">ARS $ 1.236,00</span>
            </div>
            <div class="div_optionselect">
                <span>Tipo de destino</span>
                <input type="radio" name="option" class="option" value="Destinatario único">Destinatario único
                <input type="radio" name="option" class="option" value="Múltiples destinatarios">Múltiples destinatarios
            </div>
            <button class="buttong buttonblue button_next" >Siguiente</button>
        </div>
    </body>
</html>