<!DOCTYPE html>
<html lang="es"> <!-- Idioma principal del documento, ayuda a interpretar contenido mejora la accesibilidad-->
    <head>
        <meta charset="UTF-8"> <!--Codificacion de caracteres-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Asegura que la pagina sea responsiva
        Ajusta tambien el zoom inicial-->
        <title>Wibond</title>

        <!--Hojas de estilos-->
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        Pagina para las transferencias
    </body>
</html>